<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ragam</title>
    <meta charset="utf-8" />

  <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/Images/logo.ico" />
</head>
    <nav class="navbar-complete" style="border-bottom: 2px solid white;">
      <div class="brand-title">
       <h1>Nava Ragam</h1>
      </div>
      <div class="navbar-links">
        <ul>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <body>
      <br><br>
      <div class="container">
        <% if(err_msg == "saved") { %>
          <div class ="alert alert-success">
            <%="Saved Successfully"%>
          </div>
        <%} %>
        <a href="/print" target="_blank" class="print" ><button class="btn btn-success">Click here to print all data</button></a><br>
        <form class="" action="/admin" method="post">
          <div class="form-group">
            
            <h2 style="font-family: 'Times New Roman', Times, serif; color: red;"><u>Select the Quote which you feel Good</u></h2>
            <br><br><br>
          <table>             
              <tr >
                <th>Accept</th>
                <th >Reject</th>
                <th >Quote</th>
              </tr>

              <%  user.forEach(function(user_data){ if (user_data.sentence != null && user_data.status != "accepted" && user_data.status != "rejected") {%>
           
                <tr>
                  <td > <input type="checkbox" value="accept" name=<%=user_data._id%> id=<%=user_data._id+"_accept"%>></td>
                  <td > <input type="checkbox" value="reject" name=<%=user_data._id%> id=<%=user_data._id+"_reject"%>></td>
                  <td ><label class=<%=user_data._id%>><h3><%=user_data.sentence%></h3> </label></td>
                </tr>
      
              <% };}) %>
          </table>
             
          <br><button class="btnwhite" type="submit" name="button">Confirm</button>
      </form>

    </div>


        <a
      class="btn btn-danger"
      data-toggle="collapse"
      href="#Collapse_"
      role="button"
      aria-expanded="false"
      style="margin-top:2cm;"
      >Delete Already accepted Sentence</a
    ><br><br>
    <div class="collapse multi-collapse" id="Collapse_">
      <div class="card card-body">
        <div class="modify_accepted">
          <form class="" action="/modify_accepted" method="post">
            <div class="form-group">
  
              <h2 style="font-family: 'Times New Roman', Times, serif; color: red;"><u>Select the Quote to remove</u></h2>
              <br><br><br>
              <table>             
                <tr >
                  <th >Reject</th>
                  <th >Quote</th>
                </tr>
          <%  user.forEach(function(user_data){ if (user_data.status == "accepted") {%>
            <tr>
              <td > <input type="checkbox" value="reject" name=<%=user_data._id%> id=<%=user_data._id%>></td>
              <td ><label class=<%=user_data._id%>><h3><%=user_data.sentence%></h3> </label></td>
            <tr>
        
            <% };}) %>
              </table>
  <br>
            <button class="btnwhite" type="submit" name="button">Confirm</button>
        </form>
  
          </div>
        </div>     
      </div>  
      </div>
    </div>

</div>
</body>
<!-- JavaScript Bundle with Popper -->
  <!-- Latest compiled and minified JavaScript -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
  $('input').change(function() {
    id = $(this).attr('id').split('_')[0]
  if ($(this).is(':checked')) {
    if($(this).attr('value') == "reject") 
    {$("."+id).addClass('reject_mark');
    $("#"+id+"_accept").css('visibility','hidden');}
    else
    { $("."+id).addClass('accept_mark');
    $("#"+id+"_reject").css('visibility','hidden');}
  } else {
    if($(this).attr('value') == "reject") 
    {$("."+id).removeClass('reject_mark');
    $("#"+id+"_accept").css('visibility','visible');}
    else 
    { $("."+id).removeClass('accept_mark');
    $("#"+id+"_reject").css('visibility','visible');}
  }
});
</script>
</html>

